.svgDrawing {border-style: inset;
width: 100%;
height: 650px;
//background: #244;
}

mat-tab{
    background:  rgb(129, 71, 60);
}

.example-tab-icon {
    margin-right: 8px;
  }

  .skin {
    width: 75%;
}