<mat-tab-group  >
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">Map </mat-icon>
        Drone{{control.datas[0].droneNumber}}
      </ng-template>
      Map 
     
    </mat-tab>
  </mat-tab-group>
  <div class="skin">
    <button (click)="control.Simulation()" mat-raised-button color="primary">Simulation</button>
    <button (click)="command('TAKE_OFF')" mat-raised-button color="primary">Take-Off</button>
    <button (click)="command('LAND')" mat-raised-button color="primary">Land</button>
    <button (click)="command('RETURN_TO_BASE')" mat-raised-button color="primary">Return To Base</button>
    <button (click)="command('UPDATE')" mat-raised-button color="primary">Update</button>
</div> 
<div *ngIf="control.datas.length !== 0" class="svg_pannel">
    <svg  
    version="1.1"
    id="zoneDessin"
    xmlns="http://www.w3.org/2000/svg"
    overflow="scroll"
    class="svgDrawing">

    <path
                *ngFor ="let point of control.globalPath"
                [attr.d]="point"
              
                stroke-width="10"
                fill="#fffff"
            ></path>

    </svg>
</div>

