<div *ngFor="let drone of control.datas" mat-dialog-content class="container-fluid ">
    <div class="row">
        <h1 *ngIf="drone.droneState == 0" class="btn btn-primary">Drone {{drone.droneNumber}} <span class="badge badge-secondary">Status: {{drone.state}}</span></h1>
        <h1 *ngIf="drone.droneState == 1" class="btn btn-success">Drone {{drone.droneNumber}} <span class="badge badge-pill badge-success">Status: {{drone.state}}</span></h1>
        <h1 *ngIf="drone.droneState == 2" class="btn btn-danger">Drone {{drone.droneNumber}} <span class="badge badge-danger">Status: {{drone.state}}</span></h1>
        <h1 *ngIf="drone.droneState >= 3" class="btn btn-warning">Drone {{drone.droneNumber}} <span class="badge badge-pill badge-warning">Status: {{drone.state}}</span></h1>
        <div class="col">
            
            <div class="col-md-2">
                    <div *ngIf="drone.led1">
                        <h4>LED1 <span class="badge badge-secondary">ON </span></h4>
                    </div>
                    <div *ngIf="!drone.led1">
                        <h4>LED1 <span class="badge badge-secondary">OFF </span></h4>
                    </div>
            </div>
            <div class="col-md-2">
                <div *ngIf="drone.led2">
                    <h4>LED2 <span class="badge badge-secondary">ON </span></h4>
                </div>
                <div *ngIf="!drone.led2">
                    <h4>LED2 <span class="badge badge-secondary">OFF </span></h4>
                </div>
            </div>
    </div>  
    
    <div class="row">
        <div class="col">
            <div class="col-md-2">
                <div *ngIf="drone.led3">
                    <h4>LED3 <span class="badge badge-secondary">ON </span></h4>
                </div>
                <div *ngIf="!drone.led3">
                    <h4>LED3 <span class="badge badge-secondary">OFF </span></h4>
                </div>
            </div>

            <div class="col-md-2">
                <div *ngIf="drone.led4">
                    <h4>LED4 <span class="badge badge-secondary">ON </span></h4>
                </div>
                <div *ngIf="!drone.led4">
                    <h4>LED4 <span class="badge badge-secondary">OFF </span></h4>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-md-2">   
                <div *ngIf="drone.ledA">
                    <h4>LEDA <span class="badge badge-secondary"> ALL ON </span></h4>
                </div>
                <div *ngIf="!drone.ledA">
                    <h4>LEDA <span class="badge badge-secondary"> ALL OFF </span></h4>
                </div>
            </div>
            <div class="col-md-2">   
                <h4>Speed <span class="badge badge-secondary">{{drone.speed}} m/s</span></h4>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <div class="col-md-2">   
                <h4>RangeDeck Up <span class="badge badge-secondary">{{drone.up}} </span></h4>
            </div>
            <div class="col-md-2">   
                <h4>RangeDeck Front <span class="badge badge-secondary">{{drone.front}} </span></h4>
            </div>
            <div class="col-md-2">   
                <h4>RangeDeck Back <span class="badge badge-secondary">{{drone.back}} </span></h4>
            </div>
            <div class="col-md-2">   
                <h4>RangeDeck Left <span class="badge badge-secondary">{{drone.left}} </span></h4>
            </div>
            <div class="col-md-2">   
                <h4>RangeDeck Right <span class="badge badge-secondary">{{drone.right}} </span></h4>
            </div>
        </div>
        
    </div>
</div>
