<div *ngFor="let drone of control.datas" mat-dialog-content class="container-fluid ">
    <div class="row">
        <h1 *ngIf="drone.droneState == 0" class="btn btn-primary">Drone {{drone.droneNumber}} <span class="badge badge-secondary">Status: {{drone.state}}</span></h1>
        <h1 *ngIf="drone.droneState == 1" class="btn btn-success">Drone {{drone.droneNumber}} <span class="badge badge-pill badge-success">Status: {{drone.state}}</span></h1>
        <h1 *ngIf="drone.droneState == 2" class="btn btn-danger">Drone {{drone.droneNumber}} <span class="badge badge-danger">Status: {{drone.state}}</span></h1>
        <h1 *ngIf="drone.droneState >= 3" class="btn btn-warning">Drone {{drone.droneNumber}} <span class="badge badge-pill badge-warning">Status: {{drone.state}}</span></h1>
        <div class="col">
            
            <div class="col-md-2">
                <div>Allumer LED1 <br /><br />
                    <div *ngIf="drone.led1">
                        <div class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div *ngIf="!drone.led1">
                        <div class="led-box">
                            <div class="led-red"></div>
                          </div>
                    </div>
                </div>
                    <div class="skin">
                        <button (click)="droneLedOn_Off('LED1_ON', drone.droneNumber)" mat-raised-button color="primary">ON</button>
                        <button (click)="droneLedOn_Off('LED1_OFF', drone.droneNumber)" mat-raised-button color="warn" >OFF</button>
                    </div>
            </div>
            <div class="col-md-2">
                <div>Allumer LED2 <br /><br />
                    <div *ngIf="drone.led2">
                        <div class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div *ngIf="!drone.led2">
                        <div class="led-box">
                            <div class="led-red"></div>
                          </div>
                    </div>
                </div>
                    <div class="skin">
                        <button (click)="droneLedOn_Off('LED2_ON', drone.droneNumber)" mat-raised-button color="primary">ON</button>
                        <button (click)="droneLedOn_Off('LED2_OFF', drone.droneNumber)" mat-raised-button color="warn" >OFF</button>
                    </div>
            </div>
    </div>  
    
    <div class="row">
        <div class="col">
            <div class="col-md-2">
                <div>Allumer LED3 <br /><br />
                    <div *ngIf="drone.led3">
                        <div class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div *ngIf="!drone.led3">
                        <div class="led-box">
                            <div class="led-red"></div>
                          </div>
                    </div>
                </div>
                    <div class="skin">
                        <button (click)="droneLedOn_Off('LED3_ON', drone.droneNumber)" mat-raised-button color="primary">ON</button>
                        <button (click)="droneLedOn_Off('LED3_OFF', drone.droneNumber)"mat-raised-button color="warn" >OFF</button>
                    </div>
            </div>

            <div class="col-md-2">
                <div>Allumer LED4 <br /><br />
                    <div *ngIf="drone.led4">
                        <div class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div *ngIf="!drone.led4">
                        <div class="led-box">
                            <div class="led-red"></div>
                          </div>
                    </div>
                </div>
                    <div class="skin">
                        <button (click)="droneLedOn_Off('LED4_ON', drone.droneNumber)" mat-raised-button color="primary">ON</button>
                        <button (click)="droneLedOn_Off('LED4_OFF', drone.droneNumber)" mat-raised-button color="warn" >OFF</button>
                    </div>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-md-2">   
                <div>Allumer LEDA <br /><br />
                    <div *ngIf="drone.ledA">
                        <div class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div *ngIf="!drone.ledA">
                        <div class="led-box">
                            <div class="led-red"></div>
                          </div>
                    </div>
                </div>
                    <div class="skin">
                        <button (click)="droneLedOn_Off('LEDA_ON', drone.droneNumber)" mat-raised-button color="primary">ON</button>
                        <button (click)="droneLedOn_Off('LEDA_OFF', drone.droneNumber)" mat-raised-button color="warn" >OFF</button>
                    </div>
            </div>
            <div class="col-md-2">   
                <h1>Speed <span class="badge badge-secondary">{{drone.speed}} m/s</span></h1>
            </div>
        </div>
        
    </div>
    
</div>

