
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Equipe 104</a>
    </header>
    <ul class="nav">
      <li>
        <a href="#">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li routerLinkActive = "true">
        <a routerLink= "Logs">
          <i class="zmdi zmdi-link"></i> Logs
          <span class="badge badge-pill badge-secondary">{{control.datas.length}}</span>
        </a>
      </li>
      <li routerLinkActive = "true">
        <a routerLink= "Drones">
          <i class="zmdi zmdi-calendar"></i> Drones
          <span class="badge badge-pill badge-secondary">{{control.datas.length}}</span>
        </a>
      </li>
      <li routerLinkActive = "true">
        <a routerLink="Map">
          <i class="zmdi zmdi-comment-more"></i> Maps
        </a>
      </li>
    </ul>
  </div>  
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="#">Simulation</a></li>
          <li><a href="#">Real</a></li>
        </ul>
        <ul *ngFor="let battery of control.datas" class="nav navbar-nav navbar-right">
          <li><a href="#">
            Battery{{battery.droneNumber}}
          </a></li>
          <li>
            <a>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="[(battery.batteryPercentage)] + '%'">
                  {{battery.batteryPercentage}}% _____
                </div>
              </div>
            </a>
          </li>
         <!-- <li><a href="#">
            Battery2
          </a></li>
          <li>
            <a>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="[(batteryPercentage2)] + '%'">
                  {{batteryPercentage2}}% _____
                </div>
              </div>
            </a>
          </li>
          <li><a href="#">
            Quality Link

          </a></li>
          <li>
            <a>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="50 + '%'">
                  60% %bpns
                </div>
              </div>
            </a>
          </li>  -->
        </ul>
      </div>
    </nav>
    <div class="container-fluid" id="component">
      
        <router-outlet></router-outlet>
      
    </div>
  </div>
</div>

  
